absl-py==2.3.1
cffi==2.0.0
flatbuffers==25.12.19
ImageIO==2.37.2
imgui==2.0.0
lazy_loader==0.4
mediapipe==0.10.31
networkx==3.6.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pillow==12.0.0
pycparser==2.23
PyOpenGL==3.1.10
PySDL2==0.9.17
scikit-image==0.26.0
scipy==1.16.3
sounddevice==0.5.3
tifffile==2025.12.20
websockets==15.0.1
